@use '../abstracts' as a;

#main-header{
    
    display: flex;
    justify-content: space-between;
    
   #main-nav{
        #button {
        width: 55px;
        height: 40px;
        background: url(../images/hamburger.svg) no-repeat center;
        margin-top: 40px;
        transition: all .5s ease;
        border: 0;
       

        &.expanded {

        transform: rotate(90deg);
            }
        }

        #burger-con {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 15px;
        display:none;
    }
        
        #burger-con.slide-toggle {
            display: block;
            }
        

        ul {
        padding: 0;
        background-color:a.$middle-color;
        color: #fff;
        z-index: 333;
        
        li a {
        display: block;
        padding: 10px;
        width: 35px;
        height: 35px;
        text-align: center;
        // color: #fff;
        }
        }
   } 
    
   @media screen and (min-width: 768px){

    #main-header{

        #main-nav button{
            display: none;
        }

        #burger-con{
            display: block;
        }

        #main-nav ul {
        display: flex;
        justify-content: space-around;
        }

        #main-nav ul li a {

        padding: 10px;
        width: 60px;
        height: 60px;
        }
    }
    
}

@media screen and (min-width: 1920px){
    #main-header{

        #main-nav ul li a {

        padding: 10px;
        width: 100px;
        height: 100px;

        }
    }
}
    
    
    
    
}
