/* lightbox rules here */

.lightbox {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);
    background-image: url('../images/.JPG');
    background-repeat: no-repeat;

    background-size: 75vh;
    /* 55% of the viewport height */
    background-position: 0 bottom;

    z-index: 5000;

    display: none;
}

#lightbox2 {
    background-image: url('../images/ZhaoYouTing.JPG');
}

#lightbox3 {
    background-image: url('../images/YuMengLong.JPG');
}

#lightbox4 {
    background-image: url('../images/GaoWeiGuang.JPG');
}

#lightbox5 {
    background-image: url('../images/DiLiReBa.JPG');
}

#lightbox6 {
    background-image: url('../images/ZhangBinBin.JPG');
}

#lightbox7 {
    background-image: url('../images/ZhangZhiYao.JPG');
}

.lightbox_close {
    position: relative;
    top: 45px;
    left: 90%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}

.lightbox_close:hover {
    opacity: 0.7;
    color: rgb(254, 0, 237);
}

.lightbox:target {
    display: block;
}