#self-intro{
    p{
        line-height: 30px;
        font-size: 16px;
        margin: 20px 50px;
    }

    div{
        max-width: 100%;


        .self-image {
            width: 30%;
            height: 20%;
            border-radius: 20%;
        }
    
        .icon{
            width: 30px;
            height:30px;

        }
    // #work{
    //     // display: inline-block;
    //     margin-top:30px;
    //     {
    //         margin-left: 25px;
    //         width: 50%;
    //         height: 50%;
    //         border-radius: 50%;
    //     }
    // }
    // #life{
    //     img{
    //         margin-left: 25px;
    //         width: 20%;

    //     }
    // }
    }


}